@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!--Lab3.1(2)Создание представления.5 Добавили тег <div> и текст для вывода-->
<div>
    <!--Lab3.1(2)Создание представления.6 динамически присвоилось ViewBag.Greeting и ViewData["Mes"] метода действия в представление-->
    @ViewBag.Greeting, спасибо, что зашли и @ViewData["Mes"]
</div>
@{
}
