@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Узнать о <a href="https://docs.microsoft.com/aspnet/core">создании веб-приложений с помощью ASP.NET Core.</a>.</p>
</div>
