@*Директива @page указывает, что это страница Razor.*@
@page 

@*Директива @model - класс привязанного к странице кода IndexModel.*@
@model IndexModel

@{
    Layout = "_Layout";
}
<h3>Стартовая страница</h3>
