<!DOCTYPE html>
<!--Не подключился CSS стиль. Необходимо пересмотреть Лаб4.упр2-->
<!--Lab4.2(1)Создание макета.2-3 П.к.м. на папке Views, Add (Добавить), New Item (Создать элемент).
    Страница Макет Razor, имя _BasicLayout.cshtml
    символ подчеркивания(_) Имена макетов, которые являются поддерживающими файлами должны начинаться с подчеркивания.-->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!--Устарела!!! Lab4.2(4)Использование CSS.4 код подключения стилей с помощью метода Url.Content(путь к файлу)-->
    @*<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />*@

    <!--Lab4.2(4)Использование CSS.4 код подключения стилей, прописать статику в Program.cs-->
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    <h1>ОАО "Добро пожаловать"</h1>  <!--Lab4.2(1)Создание макета.5 добавили код для наглядности-->
    <div>
        <!--Lab4.2(4)Использование CSS.4 удалите стиль, ранее указанный в элементе div
        <div style="padding: 20px; border: solid medium green; font-size:20pt"> Lab4.2(1)Создание макета.5 добавили стиль для наглядности-->
        <!--Lab4.2(1)Создание макета.4 метод RenderBody вставляет содержимое представления, указанного методом действия в разметку макета.-->
        @RenderBody()
    </div>
</body>
</html>
