@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!--//Lab3.2(6)Обработка данных на форме.5 ссылка на используемую модель:-->
@model WebMVCR1.Models.Person

@{    
    //Layout = null; //Lab4.2.1 устанавливает значение свойства Layout на null, представление является автономным, оно будет показывать все содержимое которое должно вернуться клиенту.

    /* Lab4.2(3)Использование макета _ViewStart.3-4 Во всех представлениях удаляем строку присвоения шаблона.
    Layout = "~/Views/_BasicLayout.cshtml"; //Lab4.2(2)Применение макета.5-6 Применяем макет _BasicLayout
    ViewBag.Title = "Привет"; //Lab4.2(2)Применение макета.5-6 значение для свойства ViewBag.Title будет использоваться в качестве контента элемента title в HTML документе
    */
}

<!--//Lab3.2(6)Обработка данных на форме.6 текст для вывода данных свойства модели – имени, а также ссылка на главную страницу:-->
<div>
    <h1>Здравствуйте, @Model.ToString()!</h1>
    <p>
        @Html.ActionLink("На главную", "Index")
    </p>
</div>