@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!--Lab3.3(3)Добавление строго типизированного представления для отображения коллекции.2 Добавили директиву для подключения используемой модели-->
@model WebMVCR1.Models.PersonRepository

@{
    //Layout = null; //Lab4.2.1 устанавливает значение свойства Layout на null, представление является автономным, оно будет показывать все содержимое которое должно вернуться клиенту.

    /* Lab4.2(3)Использование макета _ViewStart.3-4 Во всех представлениях удаляем строку присвоения шаблона.
    Layout = "~/Views/_BasicLayout.cshtml"; //Lab4.2(2)Применение макета.5-6 Применяем макет _BasicLayout
    ViewBag.Title = "Список"; //Lab4.2(2)Применение макета.5-6 значение для свойства ViewBag.Title будет использоваться в качестве контента элемента title в HTML документе
    */
}

<!--Lab3.3(3)Добавление строго типизированного представления для отображения коллекции.3 Добавили текст для вывода данных свойства модели –
имени, а также ссылку на главную страницу:-->
<div>
    <h3>Список участников</h3>
    <p>Персон всего @ViewBag.Count</p>

    <ul>
        @foreach (var c in ViewBag.pers)
        {
            <li>@c.ToString()</li>

        }
    </ul>

    <p>@Html.ActionLink("На главную", "Index")</p>
</div>
